# Pandas Basics Part 1

## How to Import dataset in Python using Pandas Library
Written By:- Pranshu Saini\
Date:- 27.1.2024\
Email:- ps1442003@outlook.com

In [1]:
# Step 1 
# Importing the 
import pandas as pd

In [2]:
# Step 2
# Reading / Importing the dataset

df = pd.read_excel("pandas_01_day6.xlsx") # We use the path of the file with same format as the function we use.
df

    height  weight favourite_dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

In [16]:
type(df) # the type of df we created

pandas.core.frame.DataFrame

In [15]:
df.head() # first 5 rows

   height  weight favourite_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

In [14]:
df.tail() # Last 5 rows

    height  weight favourite_dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [6]:
df.shape

(87, 3)

In [13]:
df.dtypes # To find the datatypes

height            float64
weight              int64
favourite_dish     object
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     float64
 1   weight          87 non-null     int64
 2   favourite_dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

>We will change the **Datatype** from the object to specific types for better performance and storage

In [9]:
df["height"] = df["height"].astype(float)

In [10]:
df["favourite_dish"] = df["favourite_dish"].astype(str)

In [12]:
df.info() # Overall Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     float64
 1   weight          87 non-null     int64
 2   favourite_dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

In [17]:
df.T # Transpose

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,86
height,5.8,6.2,5.9,5.9,5.9,5.3,5.6,5.9,5.1,5.4,...,5.5,5.11,5.3,5.4,5.5,5.4,5.9,5.4,6.2,5.1
weight,101,92,62,95,55,59,50,76,78,68,...,85,72,62,55,52,55,75,61,68,96
favourite_dish,Chicken Pulao,Biryani,Karahi Ghosht,Chicken Pulao,Chicken Pulao,Biryani,Pasta,Biryani,Biryani,Biryani,...,Biryani,Karahi Ghosht,Biryani,Pasta,Karahi Ghosht,Pasta,Karahi Ghosht,Biryani,Chicken Pulao,Biryani

In [21]:
df.sort_index() # we can sort the dataframe

    height  weight favourite_dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

In [19]:
df.sort_index(ascending=False) # we can sort the dataframe in descending form

    height  weight favourite_dish
86     5.1      96        Biryani
85     6.2      68  Chicken Pulao
84     5.4      61        Biryani
83     5.9      75  Karahi Ghosht
82     5.4      55          Pasta
..     ...     ...            ...
4      5.9      55  Chicken Pulao
3      5.9      95  Chicken Pulao
2      5.9      62  Karahi Ghosht
1      6.2      92        Biryani
0      5.8     101  Chicken Pulao

[87 rows x 3 columns]

In [22]:
df.sort_values(by="weight")

    height  weight favourite_dish
26     5.0      25        Biryani
35     5.0      31        Biryani
44     5.2      48        Biryani
42     5.6      49  Chicken Pulao
40     5.0      50  Chicken Pulao
..     ...     ...            ...
86     5.1      96        Biryani
0      5.8     101  Chicken Pulao
33     5.1     103    Chapel Kaba
34     6.0     110    Chapel Kaba
75     6.0     125    Chapel Kaba

[87 rows x 3 columns]