# Chi Square Test

In [2]:
# import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [3]:
# Load the dataset
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

Chi Square test tells us if there is any diff between 2 categorical data column

we will chose the survived and sex columns from the titanic dataset.

`Null Hypothesis :` There is no significant association between gender and survival on the Titanic. Thus the rate of survival is purely luck not related to gender.

`Alternative Hypothesis :` There is significant association between gender and survival on the Titanic. Thus the rate of survival is related to gender.

In [4]:
# Create a Contigency Table
contingency_table = pd.crosstab(df['sex'], df['survived'])
contingency_table
# This is the Frequency Table

survived    0    1
sex
female     81  233
male      468  109

In [6]:
# Perform the chi square test
chi2, p, dof, expected = stats.chi2_contingency(contingency_table)
# Print the values
print(f'Chi-squared statistic: {chi2:.4f}, p-value: {p:.4f}, Degree of Freedom: {dof}')
print("Expected Frequencies Table:")
print(expected)

Chi-squared statistic: 260.7170, p-value: 0.0000, Degree of Freedom: 1
Expected Frequencies Table:
[[193.47474747 120.52525253]
 [355.52525253 221.47474747]]

The Value of P comes out as 0.0000 which is far less than 0.05, Thus the Null Hypothesis is rejected.