# Web Scraping using Yfinance library

In [2]:
# !pip install yfinance # To install the Yfinance library

In [3]:
# Import the Libraries
import yfinance as yf
import pandas as pd

# Define the Ticker Symbol
tickerSymbol = 'AAPL'

In [4]:
# get the data of the Specific ticker
tickerData = yf.Ticker(tickerSymbol)

# Print out if running
# tickerData.info

In [11]:
# get the Historical prices for this ticker
tickerDf = tickerData.history(period='1d', start='2010-1-1', end='2020-1-25')

# Last Closing Price
tickerDf['Close'].iloc[-1], tickerDf.shape

(77.23387145996094, (2532, 7))

In [12]:
tickerDf.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-01-04 00:00:00-05:00,6.437013,6.469284,6.405345,6.454506,493729600,0.0,0.0
2010-01-05 00:00:00-05:00,6.472300,6.502158,6.431583,6.465664,601904800,0.0,0.0
2010-01-06 00:00:00-05:00,6.465666,6.491302,6.356186,6.362821,552160000,0.0,0.0
2010-01-07 00:00:00-05:00,6.386345,6.393885,6.304913,6.351058,477131200,0.0,0.0
2010-01-08 00:00:00-05:00,6.342612,6.393884,6.305215,6.393281,447610800,0.0,0.0

In [13]:
# Now we get the Google's Data

tickerSymbol = 'GOOGL'
# get the data of the Specific ticker
tickerData = yf.Ticker(tickerSymbol)
# get the Historical prices for this ticker
tickerDf = tickerData.history(period='1d', start='2010-1-1', end='2020-1-25')
# Last Closing Price
tickerDf.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-01-04 00:00:00-05:00,15.671453,15.735444,15.603714,15.666453,78169752,0.0,0.0
2010-01-05 00:00:00-05:00,15.677202,15.693700,15.536223,15.597464,120067812,0.0,0.0
2010-01-06 00:00:00-05:00,15.644208,15.644208,15.156779,15.204272,158988852,0.0,0.0
2010-01-07 00:00:00-05:00,15.232767,15.247765,14.814079,14.850323,256315428,0.0,0.0
2010-01-08 00:00:00-05:00,14.797831,15.079040,14.725591,15.048295,188783028,0.0,0.0

## Fetch the Stock Price data using Realtime Time and Date

In [17]:
import pandas as pd
import yfinance as yf
import datetime as dict
from datetime import date, timedelta

today = date.today()
d1 = today.strftime("%Y-%m-%d")
d1
d2 = (today - timedelta(days=365)).strftime("%Y-%m-%d")
d2

start_date = d2
end_date = d1

# define the Ticker Symbol
tickerSymbol = 'GOOGL'
# get the data of the Specific ticker
tickerData = yf.Ticker(tickerSymbol)
# get the Historical prices for this ticker
tickerDf = tickerData.history(period='1d', start=start_date, end=end_date)
# Last Closing Price
tickerDf.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-08-28 00:00:00-04:00,131.159461,132.388047,129.990805,130.859802,20543300,0.0,0.0
2023-08-29 00:00:00-04:00,132.088410,136.413448,132.088410,134.415741,43075600,0.0,0.0
2023-08-30 00:00:00-04:00,134.625483,136.123763,133.916305,135.724228,28315800,0.0,0.0
2023-08-31 00:00:00-04:00,135.854081,137.841805,135.634331,136.013901,30053800,0.0,0.0
2023-09-01 00:00:00-04:00,137.302426,137.302426,134.695417,135.504486,21524600,0.0,0.0